#leftside {
  position: fixed;
  height: 100%;
  left: 0;
  top: 6%;

}
#header {
  font-size: 200%;
  font-weight: bold;
  position: fixed;
  top: 1;
  left: 1;
}
#navbar {
    background-color: lightblue;
    position: fixed;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 15%;
  }
  #navbar a {
      text-align: center;
      text-decoration: none;
      font-size: 120%;
      padding: 5%;
  }  
  a:hover {
    background-color: #555;
    color: white;
  } 
  @media (max-width: 320px) {
    #navbar {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }
  }
  #doc-header {
    font-size: 200%;
  }

  #main-doc {
    position: absolute;
    margin-left: 240px;
    padding: 20px;
    margin-bottom: 110px;
    border-left: 1px black solid;
  }
  .nav-link {
      border: 1px black solid;
  }
  .bold {
    font-size: 1.5em;
    font-weight: bolder;
  }
  